<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Historia Clínica</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" th:href="@{/img/favicon.ico}">
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">

<!-- Encabezado -->
<header class="bg-blue-500 text-white py-4 px-12 flex items-center justify-between">
    <img th:src="@{/img/logo-hemo.png}" alt="Logo" class="h-11 max-w-full w-auto mr-6">
    <h1 class="text-3xl font-bold text-center">Editar Historia Clínica</h1>
    <a th:href="@{/empleado/historiasClinicas}" class="inline-block px-6 py-2 text-white bg-blue-700 hover:bg-blue-900 rounded-md">
        Inicio
    </a>
</header>

<!-- Contenido principal -->
<main class="flex-grow container mx-auto p-6">
    <form th:action="@{/empleado/historiaClinica/{numeroHistoriaClinica}/editar(numeroHistoriaClinica=${historiaClinica.numeroHistoriaClinica})}" th:object="${historiaClinica}" method="post" class="bg-white p-8 shadow-md rounded-lg max-w-3xl mx-auto">

        <!-- Número de Historia Clínica (Solo lectura) -->
        <div class="mb-4">
            <label for="numeroHistoriaClinica" class="block text-lg font-medium text-gray-700">Número de Historia Clínica</label>
            <input type="text" id="numeroHistoriaClinica" name="numeroHistoriaClinica" th:field="*{numeroHistoriaClinica}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" readonly>
        </div>

        <!-- Fecha de Historia Clínica -->
        <div class="mb-4">
            <label for="fechaHistoriaClinica" class="block text-lg font-medium text-gray-700">Fecha de Historia Clínica</label>
            <input type="date" id="fechaHistoriaClinica" name="fechaHistoriaClinica" th:value="*{fechaHistoriaClinica}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
        </div>

        <!-- Nombre -->
        <div class="mb-4">
            <label for="nombre" class="block text-lg font-medium text-gray-700">Nombres</label>
            <input type="text" id="nombre" name="nombre" th:field="*{nombre}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
        </div>

        <!-- Apellido -->
        <div class="mb-4">
            <label for="apellido" class="block text-lg font-medium text-gray-700">Apellidos</label>
            <input type="text" id="apellido" name="apellido" th:field="*{apellido}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
        </div>

        <!-- DNI -->
        <div class="mb-4">
            <label for="dni" class="block text-lg font-medium text-gray-700">DNI</label>
            <input type="number" id="dni" name="dni" th:field="*{dni}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
        </div>

        <!-- Sexo -->
        <div class="mb-4">
            <label for="sexo" class="block text-lg font-medium text-gray-700">Sexo</label>
            <select id="sexo" name="sexo" th:field="*{sexo}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
            </select>
        </div>

        <!-- Teléfono de Contacto -->
        <div class="mb-4">
            <label for="telefonoDeContacto" class="block text-lg font-medium text-gray-700">Teléfono de Contacto </label>
            <input type="text" id="telefonoDeContacto" name="telefonoDeContacto" th:field="*{telefonoDeContacto}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
        </div>

        <!-- Fecha de Nacimiento -->
        <div class="mb-4">
            <label for="fechaNacimiento" class="block text-lg font-medium text-gray-700">Fecha de Nacimiento</label>
            <input type="date" id="fechaNacimiento" name="fechaNacimiento" th:value="*{fechaNacimiento}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
        </div>

        <!-- Obra Social -->
        <div class="mb-4">
            <label for="obraSocial" class="block text-lg font-medium text-gray-700">Obra Social</label>
            <input type="text" id="obraSocial" name="obraSocial" th:field="*{obraSocial}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
        </div>

        <!-- Número de Afiliado -->
        <div class="mb-4">
            <label for="numeroDeAfiliado" class="block text-lg font-medium text-gray-700">Número de Afiliado</label>
            <input type="number" id="numeroDeAfiliado" name="numeroDeAfiliado" th:field="*{numeroDeAfiliado}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
        </div>

        <!-- Fecha de Diagnóstico -->
        <div class="mb-4">
            <label for="fechaDiagnostico" class="block text-lg font-medium text-gray-700">Fecha de Diagnóstico</label>
            <input type="date" id="fechaDiagnostico" name="fechaDiagnostico" th:value="*{fechaDiagnostico}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
        </div>

        <!-- Tipo -->
        <div class="mb-4">
            <label for="tipo" class="block text-lg font-medium text-gray-700">Tipo y severidad de Hemofilia</label>
            <input type="text" id="tipo" name="tipo" th:field="*{tipoHemofilia}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
        </div>

        <!-- Último Título -->
        <div class="mb-4">
            <label for="ultimoTitulo" class="block text-lg font-medium text-gray-700">Último Título</label>
            <div class="mt-1 flex items-center border-gray-300 rounded-md shadow-sm">
                <span class="text-gray-700 mr-2">&lt;</span>
                <input type="number" step="0.1" id="ultimoTitulo" name="ultimoTitulo" th:field="*{ultimoTitulo}" class="w-full border-transparent focus:ring-0 focus:border-transparent" required> <!-- El valor editable -->
                <span class="text-gray-700 ml-2">Ub/ml</span>
            </div>
        </div>



        <!-- Fecha del Último Título -->
        <div class="mb-4">
            <label for="fechaUltimoTitulo" class="block text-lg font-medium text-gray-700">Fecha del Último Título</label>
            <input type="date" id="fechaUltimoTitulo" name="fechaUltimoTitulo" th:value="*{fechaUltimoTitulo}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
        </div>

        <!-- Tipo de Tratamiento -->
        <div class="mb-4">
            <label for="tipoDeTratamiento" class="block text-lg font-medium text-gray-700">Tipo de Tratamiento</label>
            <select id="tipoDeTratamiento" name="tipoDeTratamiento" th:field="*{tipoDeTratamiento}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
                <option value="A Demanda">A demanda</option>
                <option value="Profilactico">Profiláctico</option>
                <option value="Inmunotolerancia">Inmunotolerancia</option>
            </select>
        </div>

        <!-- Inhibidor -->
        <div class="mb-4">
            <label class="block text-lg font-medium text-gray-700">Inhibidor</label>
            <div class="mt-2">
                <label class="inline-flex items-center">
                    <input type="radio" name="inhibidor" value="true" th:field="*{inhibidor}" th:checked="*{inhibidor == true}" class="form-radio text-blue-500" required>
                    <span class="ml-2">Sí</span>
                </label>
                <label class="inline-flex items-center ml-6">
                    <input type="radio" name="inhibidor" value="false" th:field="*{inhibidor}" th:checked="*{inhibidor == false}" class="form-radio text-blue-500" required>
                    <span class="ml-2">No</span>
                </label>
            </div>
        </div>

        <!-- Estrategias Terapéuticas -->
        <div class="mb-4">
            <label for="estrategiasTrapeuticas" class="block text-lg font-medium text-gray-700">Estrategias Terapéuticas</label>
            <textarea id="estrategiasTrapeuticas" name="estrategiasTrapeuticas" th:field="*{estrategiasTrapeuticas}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" rows="2" required></textarea>
        </div>

        <!-- Peso -->
        <div class="mb-4">
            <label for="peso" class="block text-lg font-medium text-gray-700">Peso</label>
            <div class="mt-1 flex items-center border-gray-300 rounded-md shadow-sm">
                <input type="number" id="peso" name="peso" th:field="*{peso}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
                <span class="text-gray-700 ml-2">Kg</span>
            </div>
        </div>

        <!-- Tipo de Factor -->
        <div class="mb-4">
            <label for="tipoDeFactor" class="block text-lg font-medium text-gray-700">Tipo de Factor</label>
            <input type="text" id="tipoDeFactor" name="tipoDeFactor" th:field="*{tipoDeFactor}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
        </div>

        <!-- Dosis 1 -->
        <div class="mb-4">
            <label for="dosis1" class="block text-lg font-medium text-gray-700">Dosis 1</label>
            <div class="mt-1 flex items-center border-gray-300 rounded-md shadow-sm">
                <input type="number" id="dosis1" name="dosis1" th:field="*{dosis1}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
                <span class="text-gray-700 ml-2">UI</span>
            </div>
        </div>

        <!-- Dosis 2 -->
        <div class="mb-4">
            <label for="dosis2" class="block text-lg font-medium text-gray-700">Dosis 2</label>
            <div class="mt-1 flex items-center border-gray-300 rounded-md shadow-sm">
                <input type="number" id="dosis2" name="dosis2" th:field="*{dosis2}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" required>
                <span class="text-gray-700 ml-2">UI</span>
            </div>
        </div>

        <!-- Observaciones -->
        <div class="mb-4">
            <label for="observaciones" class="block text-lg font-medium text-gray-700">Observaciones</label>
            <textarea id="observaciones" name="observaciones" th:field="*{observaciones}" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm" rows="2" ></textarea>
        </div>

        <!-- Botones -->
        <div class="mt-6 flex justify-between">
            <a th:href="@{/empleado/historiasClinicas}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-lg">Cancelar</a>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">Guardar Cambios</button>
        </div>
    </form>
</main>

</body>
</html>
