<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle de Historia Clínica</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body class="bg-red-50 text-gray-900">

<header class="bg-red-600 text-white py-4 px-12 flex items-center justify-between shadow-lg">
    <img th:src="@{/img/logo-hemo.png}" alt="Logo" class="h-11 max-w-full w-auto mr-6">
    <h1 class="text-4xl font-bold text-center">Historia Clínica de <span th:text="${historiaClinica.nombre}"></span>
        <span th:text="${historiaClinica.apellido}"></span></h1>
    <a th:href="@{/empleado/historiasClinicas}"
       class="inline-block px-6 py-2 text-white bg-red-700 hover:bg-red-900 rounded-md shadow-md">
        Inicio
    </a>
</header>

<main class="container mx-auto mt-10 px-4">
    <div th:if="${aviso}" class="bg-yellow-100 text-yellow-800 border-l-4 border-yellow-500 p-4 mb-4">
        <p th:text="${aviso}"></p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="bg-red-100  p-6 rounded-lg shadow-md border border-gray-200">
            <h2 class="text-xl font-bold mb-2">Datos Personales</h2>
            <p><strong>Documento:</strong> <span th:text="${historiaClinica.dni}"></span></p>
            <p><strong>N° Historia Clínica:</strong> <span th:text="${historiaClinica.numeroHistoriaClinica}"></span>
            </p>
            <p><strong>Edad:</strong> <span
                    th:text="${T(java.time.Period).between(historiaClinica.fechaNacimiento, T(java.time.LocalDate).now()).getYears()}"></span>
            </p>
            <p><strong>Fecha de Nacimiento:</strong> <span
                    th:text="${#dates.format(historiaClinica.fechaNacimiento, 'dd-MM-yyyy')}"></span></p>
            <p><strong>Sexo:</strong> <span th:text="${historiaClinica.sexo}"></span></p>
            <p><strong>Teléfono de Contacto:</strong> <span th:text="${historiaClinica.telefonoDeContacto}"></span></p>
        </div>

        <div class="bg-red-100  p-6 rounded-lg shadow-md border border-gray-200">
            <h2 class="text-xl font-bold mb-2">Diagnóstico y Tratamiento</h2>
            <p><strong>Obra Social / Prepaga:</strong> <span th:text="${historiaClinica.obraSocial}"></span></p>
            <p><strong>Número de Afiliado:</strong> <span th:text="${historiaClinica.numeroDeAfiliado}"></span></p>
            <p><strong>Fecha de Diagnóstico:</strong> <span
                    th:text="${#dates.format(historiaClinica.fechaDiagnostico, 'dd-MM-yyyy')}"></span></p>
            <p><strong>Tipo y severidad de Hemofilia:</strong> <span th:text="${historiaClinica.tipoHemofilia}"></span>
            </p>
            <p><strong>Tipo de Tratamiento:</strong> <span th:text="${historiaClinica.tipoDeTratamiento}"></span></p>
            <p><strong>Inhibidor:</strong> <span th:text="${historiaClinica.inhibidor ? 'Sí' : 'No'}"></span></p>
        </div>

        <div class="bg-red-100  p-6 rounded-lg shadow-md border border-gray-200">
            <h2 class="text-xl font-bold mb-2">Datos Médicos</h2>
            <p><strong>Último Título:</strong> <span th:text="'<' + ${historiaClinica.ultimoTitulo} + ' UB/ml'"></span>
            </p>
            <p><strong>Fecha del Último Título:</strong> <span
                    th:text="${#dates.format(historiaClinica.fechaUltimoTitulo, 'dd-MM-yyyy')}"></span>
            </p>
            <p><strong>Peso:</strong> <span th:text="${historiaClinica.peso} + 'Kg'"></span></p>
            <p><strong>Dosis:</strong> <span
                    th:text="${historiaClinica.tipoDeFactor} + ' ' + ${historiaClinica.dosis1} + 'UI - ' + ${historiaClinica.tipoDeFactor} + ' ' + ${historiaClinica.dosis2} + 'UI'"></span>
            </p>
            <p><strong>Dosis UI/Kg:</strong> <span
                    th:text="${historiaClinica.dosis1 / historiaClinica.peso} + 'UI/Kg - ' + ${historiaClinica.dosis2 / historiaClinica.peso} + 'UI/Kg'"></span>
            </p>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="mt-6 bg-red-100  p-6 rounded-lg shadow-md border border-gray-200">
            <h2 class="text-xl font-bold mb-2">Estrategias Terapéuticas</h2>
            <p th:text="${historiaClinica.estrategiasTrapeuticas}"></p>
        </div>

        <div class="mt-6 bg-red-100  p-6 rounded-lg shadow-md border border-gray-200">
            <h2 class="text-xl font-bold mb-2">Observaciones</h2>
            <div th:if="${historiaClinica.observaciones == null || historiaClinica.observaciones.isEmpty()}"
                 class="text-gray-600">
                No hay observaciones realizadas.
            </div>
            <p th:text="${historiaClinica.observaciones}"></p>
        </div>
    </div>

    <div class="mt-8">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-bold mb-4">Episodios Asociados</h2>
            <a th:href="@{/empleado/historiaClinica/{historiaClinicaId}/episodio/nuevo(historiaClinicaId=${historiaClinica.numeroHistoriaClinica})}"
               class="bg-green-600 hover:bg-green-800 text-white py-2 px-4 rounded-lg">
                Asociar un episodio nuevo
            </a>
        </div>

        <div th:if="${episodios != null && !episodios.isEmpty()}">
            <table class="table-auto w-full border-collapse border border-gray-300 shadow-md">
                <thead class="bg-red-200">
                <tr>
                    <th class="border border-gray-400 px-4 py-2">Fecha del Episodio</th>
                    <th class="border border-gray-400 px-4 py-2">Episodio Hemorrágico</th>
                    <th class="border border-gray-400 px-4 py-2">Descripción del Tratamiento</th>
                    <th class="border border-gray-400 px-4 py-2">Episodio en Curso</th>
                    <th class="border border-gray-400 px-4 py-2">Acciones</th>
                </tr>
                </thead>
                <tbody class="bg-red-100">
                <tr th:each="episodio : ${episodios}">
                    <td class="border border-gray-400 px-4 py-2 text-center"
                        th:text="${#dates.format(episodio.fechaEpisodio, 'dd-MM-yyyy')}"></td>
                    <td class="border border-gray-400 px-4 py-2 text-center"
                        th:text="${episodio.episodioHemorragico}"></td>
                    <td class="border border-gray-400 px-4 py-2 text-center"
                        th:text="${episodio.descripcionTratamiento}"></td>
                    <td class="border border-gray-400 px-4 py-2 text-center"
                        th:text="${episodio.episodioEnCurso ? 'Sí' : 'No'}"></td>
                    <td class="border border-gray-400 px-4 py-2 gap-2 text-center">
                        <a th:href="@{/empleado/historiaClinica/{historiaClinicaId}/episodio/editar/{episodioId}(historiaClinicaId=${historiaClinica.numeroHistoriaClinica}, episodioId=${episodio.id})}">
                            <button class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded shadow-md">
                                Editar
                            </button>
                        </a>
                        <a th:href="@{/empleado/historiaClinica/{historiaClinicaId}/episodio/eliminar/{episodioId}(historiaClinicaId=${historiaClinica.numeroHistoriaClinica}, episodioId=${episodio.id})}">
                            <button class="bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-4 rounded shadow-md">
                                Eliminar
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${episodios == null || episodios.isEmpty()}" class="text-gray-600">
            No hay episodios asociados a esta historia clínica.
        </div>

        <div class="mt-8 flex justify-between items-center">
            <div>
                <a th:href="@{/empleado/crearQR/{id}(id=${historiaClinica.numeroHistoriaClinica})}"
                   onclick="return confirm('Se va a crear la imagen qr en la carpeta Descargas');">
                    <button type="button"
                            class="bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-6 rounded-lg shadow-md">
                        Generar QR
                    </button>
                </a>
            </div>

            <div>
                <a th:href="@{/empleado/historiaClinica/{numeroHistoriaClinica}/editar(numeroHistoriaClinica=${historiaClinica.numeroHistoriaClinica})}"
                   class="flex-1">
                    <button type="button"
                            class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-6 rounded-lg shadow-md">
                        Editar
                    </button>
                </a>
            </div>

            <div>
                <a th:href="@{/empleado/historiaClinica/eliminar/{id}(id=${historiaClinica.numeroHistoriaClinica})}"
                   onclick="return confirm('¿Estás seguro de eliminar esta Historia Clínica?');">
                    <button type="button"
                            class="bg-red-600 hover:bg-red-800 text-white font-bold py-2 px-6 rounded-lg shadow-md">
                        Eliminar Historia Clínica
                    </button>
                </a>
            </div>
        </div>
    </div>
</main>
</body>
</html>