<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Historia Clínica</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body class="bg-red-50 text-gray-900">

<header class="bg-red-600 text-white py-4 px-12 flex items-center justify-between shadow-lg">

    <a th:href="@{/cliente/historiaClinica/{numeroHistoriaClinica}(numeroHistoriaClinica=${token})}" class="ml-5">
        <img th:src="@{/img/logo-hemo.png}" alt="Logo">
    </a>

    <h1 class="text-4xl font-bold text-center flex-grow">Historia Clínica de <span
            th:text="${historiaClinica.nombre}"></span></h1>
</header>

<main class="flex-grow pt-48 px-4 text-center">
    <p class="text-5xl mb-5">Documento: <span th:text="${historiaClinica.dni}"></span></p>
    <p class="text-5xl mb-5">Número de Historia Clínica: <span
            th:text="${historiaClinica.numeroHistoriaClinica}"></span></p>
    <p class="text-red-500 text-7xl font-bold mb-20">PACIENTE HEMOFILICO</p>

    <div class="flex gap-4 mt-60">
        <a th:href="@{/cliente/historiaClinica/{numeroHistoriaClinica}/info(numeroHistoriaClinica=${token})}"
           class="flex-1">
            <button type="button" class="bg-blue-600 hover:bg-blue-800 text-white py-4 text-7xl rounded-lg w-full h-96">
                Información
            </button>
        </a>

        <a th:href="@{/cliente/historiaClinica/{numeroHistoriaClinica}/urgencia(numeroHistoriaClinica=${token})}"
           class="flex-1">
            <button type="button" class="bg-red-600 hover:bg-red-800 text-white py-4 text-7xl rounded-lg w-full h-96">
                Urgencia
            </button>
        </a>
    </div>
</main>

<footer class="bg-red-600 text-white text-center py-6 fixed bottom-0 left-0 w-full">
    <h2 class="text-2xl font-bold mb-2">Centro de Hemofilia</h2>
    <p class="text-lg"><strong>Dirección:</strong> Soler 3483, Buenos Aires, CABA</p>
    <p class="text-lg"><strong>Teléfono:</strong> 011 4963-1755</p>
</footer>

</body>
</html>
