<!DOCTYPE html>
<html lang="en">
<head>
    <title>Urgencia - Hemofilia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/urgencia.css}">
    <link rel="icon" th:href="@{/img/favicon.ico}">
</head>
<body>
<div class="container">
    <div class="alert-message">
        <p>Si hay hemorragia, hay que frenarla</p>
    </div>
    <a th:href="|tel:${contactoFamiliar}|" class="btn btn-contacto">Llamar a Contacto Familiar</a>
    <a href="tel:911" class="btn btn-urgencia">Llamar al 911</a>
</div>

<footer class="info-centro">
    <h2>Centro de Hemofilia</h2>
    <p><strong>Dirección:</strong> Soler 3483, Buenos Aires, CABA</p>
    <p><strong>Teléfono:</strong> 011 4963-1755</p>
</footer>
</body>