<!DOCTYPE html>
<html lang="en">
<head>
    <title>Urgencia - Hemofilia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Incluir Tailwind CSS desde CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body class="flex flex-col min-h-screen bg-gray-100 text-gray-800">

<header class="bg-blue-500 text-white py-2 w-full fixed top-0 left-0 z-10 flex items-center justify-center">
    <a th:href="@{/cliente/historiaClinica/{id}(id=${id})}" class="flex items-center">
        <img th:src="@{/img/logo-hemo.png}" alt="Logo" class="h-11 max-w-full w-auto">
    </a>
</header>


<main class="flex-grow pt-24 px-4 text-center">
    <div class="container mx-auto">

        <div class="bg-red-500 text-white text-2xl font-semibold py-4 px-6 mb-16 rounded-lg w-3/4 mx-auto">
            <p>Si hay hemorragia, hay que frenarla</p>
        </div>

        <div class="flex gap-4">
            <a th:href="|tel:${contactoFamiliar}|" class="flex-1">
                <button type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white py-4 text-2xl rounded-lg w-full h-48">
                    Llamar a Contacto Familiar
                </button>
            </a>
            <a href="tel:911" class="flex-1">
                <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-white py-4 text-3xl rounded-lg w-full h-48">
                    Llamar al 911
                </button>
            </a>
        </div>
    </div>
</main>

<footer class="bg-blue-500 text-white text-center fixed py-6 bottom-0 left-0 w-full">
    <h2 class="text-2xl font-bold mb-2">Centro de Hemofilia</h2>
    <p class="text-lg"><strong>Dirección:</strong> Soler 3483, Buenos Aires, CABA</p>
    <p class="text-lg"><strong>Teléfono:</strong> 011 4963-1755</p>
</footer>

</body>
</html>
